<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Primary Meta Tags -->
    <title>@ViewData["Title"] - Msoop</title>
    <meta name="title" content="Msoop - Multiple subreddits on one page">
    <meta name="description" content="With msoop you can group subreddits into sheets and then view each sheet on a single page.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://msoop.org/">
    <meta property="og:title" content="Msoop - Multiple subreddits on one page">
    <meta property="og:description" content="With msoop you can group subreddits into sheets and then view each sheet on a single page.">
    <meta property="og:image" content="">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://msoop.org/">
    <meta property="twitter:title" content="Msoop - Multiple subreddits on one page">
    <meta property="twitter:description" content="With msoop you can group subreddits into sheets and then view each sheet on a single page.">
    <meta property="twitter:image" content="">

    <link rel="stylesheet" href="~/css/main.css"/>
    <partial name="_GoogleAuthentication"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-page="/Index">Home</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container-fluid">
    <partial name="_CookieConsent"/>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

@await RenderSectionAsync("Modals", required: false)
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
