@page
@model IndexModel
@{
    ViewData["Title"] = "Multiple subreddits on one page";
}

<section class="">
    <form method="post">
        <button class="btn btn-primary">Create a Sheet</button>
    </form>
</section>
