@page
@model Msoop.Pages.Privacy

@{
    ViewData["Title"] = "Privacy";
}

<div>
    <p>
        This site uses <a target="_blank" rel="noopener" href="https://en.wikipedia.org/wiki/Google_Analytics">Google Analytics</a> to know how you interact with it.
    </p>
</div>
