@page
@model Msoop.Pages.Status404

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<headVi>
    <title>Page not found - Msoop</title>
</headVi>
<body>
<div>
    <h1>Wrong page</h1>
    <a asp-page="/Index">Return to home</a>
</div>
</body>
</html>
